<navbarComponent></navbarComponent>

<ion-content padding style="background-color:#efe9e5" class="card-background-page">

  <br/><br/><br/> 

  <div>
    <div style="float:left;   font-size: 50px; margin: 0px 15px;">
  
      <ion-icon name="nutrition"></ion-icon>
    </div>
    <div style="float:left; margin-top: -5px;">
      <p text-left>
        <span style="color: orange; font-size: 22px;">
          {{ foodPlanContent.description }}
        </span><br/>
        <span >
          {{ foodPlanContent.hour }}
        </span>
      </p>
    </div>
  </div >
  <ion-slides pager color="orange">
    
    <ion-slide *ngFor=" let d of foodPlanContent.content ">
        <ion-card>
            
            <div style="height: 200px">
              <img [src]="d.imgFood"/>
            </div>
            <div class="card-title2" style="text-shadow: 1px 1px 1px #000000;">{{ d.foodName }}</div>
            <ion-card-content text-left>

              <div *ngIf="d.ingredients.length">
                <ion-card-title>
                  Ingredientes
                </ion-card-title>
                <ul>
                  <li *ngFor=" let z of d.ingredients " style="margin-top: 10px; margin-left: -25px;" text-justify [innerHTML]="z"></li>
                </ul>
                <br/>
              </div>

              <div *ngIf="d.modePrepare.length">
                <ion-card-title>
                  Modo de preparo
                </ion-card-title>
                <div text-justify [innerHTML]="d.modePrepare"></div>


                <br/>
              </div>

              <div *ngIf="d.obs.length">
                <ion-card-title>
                  Observações
                </ion-card-title>
                <p style="text-indent: 25px;"  text-justify [innerHTML]="d.obs"></p>
                  <br/>
              </div>
      
            </ion-card-content>
            <ion-row no-padding>
                <ion-col>
                  <button ion-button clear small color="danger" icon-start>
                    <ion-icon name='star'></ion-icon>
                    Favorito
                  </button>
                </ion-col>
                <ion-col text-center>
                  <button ion-button clear small color="danger" icon-start>
                    <ion-icon name='checkbox-outline'></ion-icon>
                    Marcar como  consumido
                  </button>
                </ion-col>
              </ion-row>
          </ion-card>
    </ion-slide>
  
  </ion-slides>

  


</ion-content>
