<!-- <ion-header>
  <ion-navbar color="night">
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Olá {{ this.core.getUserData().name? this.core.getUserData().name.split(' ')[0] : 'visitante' }} </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="this.openPageMySchedule()">
        <ion-icon name="time"><ion-badge style="margin-left: -10px;" color="danger">1</ion-badge></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<navbarComponent></navbarComponent>

<ion-content no-padding padding-top style="background-color:#efe9e5" class="card-background-page">

  <div style="height: constant(safe-area-inset-top); height: env(safe-area-inset-top);"></div>
  <div style="height: 50px;"></div>

  <div>
    <div style="float:left;   font-size: 50px; margin: 0px 15px;">
  
      <ion-icon name="ios-nutrition"></ion-icon>
    </div>
    <div style="float:left; margin-top: -5px;">
      <p style="text-indent: 0%;">
        <span style="color: #f15a2a; font-size: 22px">
          {{ foodPlanContent.description }}
        </span><br/>
        <span>
          {{ foodPlanContent.hour }}
        </span>
      </p>
    </div>
  </div>

  <ion-slides pager color="orange">
    
    <ion-slide *ngFor=" let d of foodPlanContent.content ">
        <ion-card>
            
            <div  [style.height.px]="( this.platform.width() - 54 )/1.5" 
                  [style.background-image]="'url(' + d.imgFood + ')'"
                  style="width: auto; background-color: darkgray; background-repeat:no-repeat; background-size:cover;">
            </div>
            <!-- <img [src]="this.imgTeste"> -->
            <div class="card-title2" style="text-shadow: 1px 1px 1px #000000;">{{ d.foodName }}</div>
            <ion-card-content text-left>

              <div *ngIf="d.ingredients && d.ingredients.length">
                <ion-row no-padding text-center>
                  <ion-col >
                    <ion-spinner *ngIf="d.loadingConsumption" name="bubbles" color=orange ></ion-spinner>
                    
                    <button *ngIf="!d.loadingConsumption" 
                            ion-button clear small color="danger"
                            [color]="d.consumption ? 'danger' : 'green'"
                            icon-start (click)="switchConsumption( foodPlanContent ,d )">
                      <ion-icon [name]=" d.consumption ? 'checkbox' : 'checkbox-outline' " ></ion-icon>
                      {{ d.consumption? 'Cancelar consumo' : 'Marcar como consumido' }}
                    </button>
                  </ion-col>
                </ion-row>
                <ion-card-title>
                  Alimentos
                </ion-card-title>
                <ul>
                  <li *ngFor=" let z of d.ingredients " style="margin-top: 10px; margin-left: -25px;" text-justify [innerHTML]="z"></li>
                </ul>
                <br/>
              </div>

              <div *ngIf="d.modePrepare && d.modePrepare.length">
                <ion-card-title>
                  Modo de preparo
                </ion-card-title>
                <div text-justify [innerHTML]="d.modePrepare"></div>


                <br/>
              </div>

              <div *ngIf="d.obs && d.obs.length">
                <ion-card-title>
                  Observações
                </ion-card-title>
                <p style="text-indent: 25px;"  text-justify [innerHTML]="d.obs"></p>
                  <br/>
              </div>
      
            </ion-card-content>
            
          </ion-card>
    </ion-slide>
  
  </ion-slides>

  


</ion-content>
