<!-- <ion-header>
  <ion-navbar color="night">
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Olá {{ this.core.getUserData().name? this.core.getUserData().name.split(' ')[0] : 'visitante' }} </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="this.openPageMySchedule()">
        <ion-icon name="time"><ion-badge style="margin-left: -10px;" color="danger">1</ion-badge></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<navbarComponent></navbarComponent>

<ion-content no-padding padding-top no-bounce style="background-color:#efe9e5">
  <div style="height: constant(safe-area-inset-top); height: env(safe-area-inset-top);"></div>
  <div style="height: 60px;"></div>

  <date-selector></date-selector> 



  <ion-card>
    
      <ion-item-divider color="light">        
        <p>Local de atendimento</p>
        <h2>{{ this.schedule[0].titleAdress }}</h2>
      </ion-item-divider>
      <!-- <ion-list-header>
        Local: {{ this.schedule[0].titleAdress }}
        </ion-list-header> -->
    </ion-card>
    <ion-card>
      <!-- <ion-list > -->
          <ion-item-group>
        <button ion-item *ngFor="let d of schedule; let i=index" (click)="presentActionSheet( d )">
          <ion-col col-5 >
            {{d.time}}
          </ion-col>
          <ion-col col-7 >
            <ion-note 
              item-end 
              style="margin-right: 30px; font-size: 16px"
              [style.color]="d.available ? 'seagreen' : d.mySchedule ? 'black':'gray'"
              [style.font-weight]="d.mySchedule ? 'bold' : 'normal'">
              {{ d.strAvailable }}
            </ion-note>
          </ion-col>
        </button>
    
      </ion-item-group>
      <!-- </ion-list> -->
    </ion-card>














  <!-- <ion-list >
    <div *ngFor="let d of schedule; let i=index" text-wrap>
    <ion-item (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}"> -->

      <!-- <div>
          <span col-4>{{d.time}}</span>
          
          <span col-4>
            <ion-note item-end style="margin-right: 30px;">{{ d.strAvailable }}</ion-note>
            <ion-icon *ngIf="d.available || d.mySchedule" color="success" [name]="isGroupShown(i) ? 'arrow-down' : 'arrow-forward'" style="float: right"></ion-icon>
          </span>

      </div> -->


















      <!-- <ion-grid>
        <ion-row>
          <ion-col col-5 >
            {{d.time}}
          </ion-col>
          <ion-col col-7 >
            <ion-note 
              item-end 
              style="margin-right: 30px; font-size: 16px"
              [style.color]="d.available ? 'seagreen' : d.mySchedule ? 'black':'gray'"
              [style.font-weight]="d.mySchedule ? 'bold' : 'normal'"
              >
              {{ d.strAvailable }}
              <ion-icon *ngIf="d.available || d.mySchedule" color="success" [name]="isGroupShown(i) ? 'arrow-down' : 'arrow-forward'" style="float: right"></ion-icon>
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
    <ion-item *ngIf="( isGroupShown(i) && d.mySchedule ) || ( isGroupShown(i) && d.available )" class="transicao">
      <div>
        
        <div>
          
          <button (click)="getChangeSchedule(i)" ion-button large block [color]="d.available ? 'secondary' : 'danger'">{{ d.available ? 'agendar horário ' : 'cancelar agendamento' }}</button>
        </div>
        
      </div>
    </ion-item>
  </div>
  </ion-list> -->

</ion-content>
