<navbarComponent></navbarComponent>

<ion-content no-padding no-bounce style="background-color:#efe9e5">

  <br/><br/><br/>
  <date-selector></date-selector> 

  <ion-list >
    <div *ngFor="let d of schedule; let i=index" text-wrap>
    <ion-item (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">

      <!-- <div>
          <span col-4>{{d.time}}</span>
          
          <span col-4>
            <ion-note item-end style="margin-right: 30px;">{{ d.strAvailable }}</ion-note>
            <ion-icon *ngIf="d.available || d.mySchedule" color="success" [name]="isGroupShown(i) ? 'arrow-down' : 'arrow-forward'" style="float: right"></ion-icon>
          </span>

      </div> -->
      <ion-grid>
        <ion-row>
          <ion-col col-5 >
            {{d.time}}
          </ion-col>
          <ion-col col-7 >
            <ion-note 
              item-end 
              style="margin-right: 30px; font-size: 16px"
              [style.color]="d.available ? 'seagreen' : d.mySchedule ? 'black':'gray'"
              [style.font-weight]="d.mySchedule ? 'bold' : 'normal'"
              >
              {{ d.strAvailable }}
              <ion-icon *ngIf="d.available || d.mySchedule" color="success" [name]="isGroupShown(i) ? 'arrow-down' : 'arrow-forward'" style="float: right"></ion-icon>
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
    <ion-item *ngIf="( isGroupShown(i) && d.mySchedule ) || ( isGroupShown(i) && d.available )" class="transicao">
      <div>
        
        <div>
          
          <button (click)="getChangeSchedule(i)" ion-button large block [color]="d.available ? 'secondary' : 'danger'">{{ d.available ? 'agendar horário ' : 'cancelar agendamento' }}</button>
        </div>
        
      </div>
    </ion-item>
  </div>
  </ion-list>

</ion-content>
