<!-- <ion-header>
  <ion-navbar color="night">
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Olá {{ this.core.getUserData().name? this.core.getUserData().name.split(' ')[0] : 'visitante' }} </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="this.openPageMySchedule()">
        <ion-icon name="time"><ion-badge style="margin-left: -10px;" color="danger">1</ion-badge></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
      
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<navbarComponent></navbarComponent>
<div style="height: 50px;"></div>


<ion-content no-padding style="background-color:#efe9e5;">
  
  <!-- AJUSTE ALTURA navbarComponent -->
  <div style="height: constant(safe-area-inset-top); height: env(safe-area-inset-top);"></div>
  <div style="height: 50px;"></div>
  
  
  <ion-card *ngIf=" this.foodPlanService.nextFoodSelected.length && this.foodPlanService.nextFoodSelected[0].foodId !== '0' ">
    
      <ion-item>
        <ion-avatar item-start>
          <img src="img/icon.png">
        </ion-avatar>
        <h2>Próxima refeição</h2>
        <p>Não perca o horário</p>
      </ion-item>

      <!-- <ion-segment *ngIf="foodPlan.length-1" color="orange" [(ngModel)]="relationship" (ionChange)="segmentChanged($event)" >
        <ion-segment-button *ngFor="let z of foodPlan; let i=index" [value]="z.title" ng-selected=" i? true: false">
          {{ z.title }}
        </ion-segment-button> 
      </ion-segment> -->

    <ion-slides pager color="orange">
  
      <ion-slide *ngFor="let d of this.foodPlanService.nextFoodSelected; let i=index">
        <ion-list>
          <button ion-item (click)="openFoodPlanContent()"> 
            <ion-thumbnail item-start>
              <img [src]="d.imgFood">
            </ion-thumbnail>
            <h2>{{ d.foodName }}</h2>
            <p>{{ this.foodPlanService.foodPlanSelected.hour }}</p>
          </button>
        </ion-list>
      </ion-slide>

    </ion-slides>
    
  </ion-card>

  <!-- 
  <br/>
    <ion-card>
      <ion-card-header>
        <b>News</b>
      </ion-card-header>
    </ion-card> -->
<div *ngFor=" let d of core.news ">
    <!-- *ngIf="filterCategory(d)" -->
  <ion-card *ngIf="d.userName" [@visibilityChanged] = "filterCategory(d)? 'show' : 'hidden'">

    <ion-item>
      <ion-avatar item-start *ngIf="d.imgAvatar">
        <img [src]="d.imgAvatar">
      </ion-avatar>
      <h2>{{ d.userName }}</h2>
      <p>{{ this.date.changeDate( d.date ) }}</p>
    </ion-item> 

    <img *ngIf="d.img" [src]="d.img">
    <ion-row>
      <ion-col >
        <button ion-button icon-left clear small center text-center>
          <ion-icon name="pricetag"></ion-icon>
          <div > <span *ngFor=" let z of d.categories; let i=index ">{{ z }}<span *ngIf="d.categories.length-1 !== i">, </span> </span></div>
        </button>
      </ion-col>
    </ion-row>
    <ion-card-content [innerHTML]="d.content"></ion-card-content>
  </ion-card>
</div>


</ion-content>
