<div>
  <div style="float:left;   font-size: 50px; margin: 10px 15px;">

    <ion-icon name="md-calendar"></ion-icon>
  </div>
  <div style="float:left; margin-top: -5px;">
    <p>
      <span style="color: #f15a2a; font-size: 22px">
            <ion-datetime style="margin: 0px 0px -35px -18px;" 
                          displayFormat="DD, MMMM de YYYY" 
                          [(ngModel)]="dateStr" 
                          cancelText="Cancelar"
                          doneText="Ok"
                          (ionChange)="this.upDateDate()"
                          [min]="this.date.getToday()" 
            ></ion-datetime>
      </span><br/>
      <span>
        Agende uma consulta
      </span>
    </p>
  </div>
</div>