<navbarComponent></navbarComponent>

<ion-content no-padding style="background-color:#efe9e5">

  <br/><br/><br/> 
  <div>
    <div style="float:left;   font-size: 50px; margin: 0px 15px;">
  
      <ion-icon name="nutrition"></ion-icon>
    </div>
    <div style="float:left; margin-top: -5px;">
      <p>
        <span style="color: #f15a2a; font-size: 22px">
          Plano Alimentar
        </span><br/>
        <span>
          Pensar em alguma frase qui
        </span>
      </p>
    </div>
  </div>


  <ion-card>
      <!-- *ngIf="foodPlan.length - 1" -->
    <ion-card-header >

      <ion-segment [(ngModel)]="relationship" color="orange" (ionChange)="segmentChanged($event)">
        <ion-segment-button *ngFor="let z of foodPlan; let i=index" [value]="z.title" ng-selected=" i? true: false">
          {{ z.title }}
        </ion-segment-button> 
      </ion-segment>   

    </ion-card-header>
  
    <ion-list>
        <button ion-item *ngFor="let d of foodPlanSelected; let i=index" (click)="openFoodPlanContent(d)"> 
          <span *ngIf="isConsumptioned( d )" style="text-decoration: line-through">
            <ion-icon name="checkmark-circle" color="pink"></ion-icon>
            {{ d.description }}
          </span>
          <span *ngIf="!isConsumptioned( d )">
            <ion-icon name="ios-checkmark-circle-outline" color="pink"></ion-icon>
            {{ d.description }}
          </span>
          <ion-note item-end>
            {{ d.hour }}
          </ion-note>
        </button>
    </ion-list>
  </ion-card>



</ion-content>
